@model NewProject.Models.SongPlaylist

@{
    ViewData["Title"] = "Remove";
}

<h1>Remove</h1>

<h3>Are you sure you want to remove this song?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Playlist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Playlist.Name)
        </dd>
    </dl>

    <form asp-action="Remove">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
